%h1
  .question= @question.question
  %small
    - if @answer.present?
      = "You answered #{@answer.option.option} on #{@answer.updated_at}"
    - elsif @question.answers_count > 0
      = "#{pluralize(@question.answers_count, 'person')}  responded so far."

#stage
  .pie
    %canvas(height="400" width="400")

    .actions
      = back_link(http_url('root'))

  .voting
    .answers
      - @question.options.each do |option|
        .answer
          = option.option
          %span.vote-count= blank_if_zero(option.answers_count)

    .actions
      - if !logged_in?
        %p= "You must #{link_to('log in', https_url('login'))} to vote!"
      - else
        = render(:partial => 'voting_form')
