#session
  - if logged_in?
    = "Logged in as #{current_user.name}"
    = link_to('Log out', logout_url, :id => 'logout-link')

  - else
    = link_to('Log in', https_url('login'), :id => 'login-link')
    = link_to('Register', https_url('register'), :id => 'register-link')

#promo
  .screenshot
    = image_tag('screenshot.png')

  .latest-questions(data-title='Latest Questions')
    .questions
      - @questions.each do |question|
        = link_to(question.question, question)
