- content_for :header do
  %header#page-header
    %h1= link_to('Insta Pie', http_url('root'))

  %nav
    %ul
      %li= link_to('Questions', questions_path)

    %p
      = "Logged in as #{current_user.name}"
      = link_to('Log out', logout_path, :id => 'logout-link')

= render(:template => 'layouts/base')
